body::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

label {
    font-weight: bold;
}

#preview{
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
}